$value: 15px;

@mixin margin {
  margin-top: 20px;
  margin-left: 125px;
  height: 60px;
}

.main {
  float: right;
  width: calc(100% - 300px) !important;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 623px;

  .add-note {
    @include margin;
    background-color: rgb(255, 255, 255);
    width: 700px;
      .addNote-input {
        width: 700px;
        outline: none;
        border: none;
        height: 50px;
        font-size: 20px;
        line-height: $value;
        padding-inline-start: $value;
      }
  }

  .todo-main {
    background-color: white;
    width: 700px;
    @include margin;
    .note {
      display: inline-block;
      .note-content {
        font-size: 24px;
        width: 650px;
        font-weight: 100;
        line-height: 60px;
        padding-left: $value;
          .note-name {
            outline: none;
            border: none;
            padding: 0;
          }
        }
      }
    .note-icons {
      float: right;
      padding-right: 15px;
      padding-top: 5px;
      font-size: 24px;
      color: red;
    }
  }
}